<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/css/styles.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ app.url_generator.generate('home') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ app.url_generator.generate('getAdmin') }}">Admin</a>
                    </li>
                    <li>
                        {% if user %}
                        <p>Bienvenue, {{ user.name }}</p>
                        <a href="{{ app.url_generator.generate('logout') }}">Logout</a>
                        {% else  %}
                            <a class="connect" href="{{ app.url_generator.generate('login') }}">Login</a>
                    </li>
                    <li>
                            <a href="{{ app.url_generator.generate('register') }}">Register</a>
                        {% endif %}
                    </li> 
                </ul>
            </nav>
        </header>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
        </div>
    </body>
</html>
